div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(46, 36, 36);
    padding: 5px 0 0 10px;
    margin: 10px;
}

a {
    color: #354f52;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
}

a:hover {
    background-color: #52796f;
    color: #cad2c5;
    transition: 0.6s;
    font-size: 1.1rem;
}